extends ../layout

block content
  - var logs = locals.logs
  .ui.segment.container#logs
    h1.ui.dividing.header Server mission logs
    if (!logs.length)
      h4 No logs yet
    else

      if (logs.length > 1)
        .ui.two.column.stackable.grid.mt-top1
          .two.column.row
            .field.column
              #log-search.ui.fluid.selection.search.dropdown
                input(type="hidden", name="log", value=locals.log.id)
                i.dropdown.icon
                .default.text Search mission logs
                .menu
                  each l in logs
                    .item(data-value=l.id class = l.id === locals.log.id ? 'active': '')
                      span #{l.world} - #{l.name} (#{dateUtil.fromNow(l.created_at)})
      include ../includes/server-log.jade
