extends layout

block content
  .ui.container.segment
    if !user.name
      form#form.ui.form(method='POST', action='/profile/name')
        h1 Welcome!
        .field
          label Select a username
          input(type='text', autocomplete='off', name='username', placeholder='Choose username')
        .ui.error.message
        p Consider using your ingame name for easier identification. 
          | This name will be shown in events, comments etc.
        p Your steam profile is not shown
        .pad
          button.ui.button.primary(type='submit') Submit
          a.ui.button(href='/logout') Logout
        script.
          $(function () {
            $('#form').form({
              fields: {
                username: {
                  identifier: 'username',
                  rules: [
                    {
                      type: 'regExp[!{locals.validation.REG}]',
                      prompt: '!{locals.validation.MSG}'
                    }
                  ]
                }
              }
            })
          })
    else
      h1.ui.dividing.header Profile - #{user.name}
      p You have signed up for 
        b #{locals.attendedEvents || 0} 
        | events.
      form#squad-form.ui.form.mt-top2(method='POST', action='/profile/squad')
        h2.ui.dividing.header Squad.xml settings
        p Squad.xml in a way to show which group you belong to in Arma3.
          | Note that when changing the settings below, updates will not be instant
          | as A3 servers will cache the file for a while.
        p To get the below info into the game, add the below URL 
          a(target='_blank' href='https://community.bistudio.com/wiki/squad.xml#How_to_use_it_as_a_team-member')
            | to your profile in Arma3

        .ui.two.column.stackable.grid
          .two.column.row
            .field.column
              input#js-url(type="text" readonly)
              script.
                // document.write(location.origin + '/squad.xml ')
                $(function() {
                  var inp = $('#js-url').val(location.origin + '/squad.xml')
                  inp.on('mouseup', function () {
                    inp.get(0).setSelectionRange(0, inp.val().length)
                  })
                })
          .two.column.row.mt-top2
            .field.column
              .ui.toggle.checkbox
                input#squad-xml-accept(type='checkbox', name='add', value="on", checked=(locals.squadSettings.show))
                label(for='squad-xml-accept') Add me to squad.xml
          .two.column.row.js-squad(class=locals.squadSettings.show ? '' : 'invis')
            .field.column
              label Nickname (<span style="color: red">MUST</span> match your in-game nick) 
              input(type='text', name='nick', autocomplete='off', 
                placeholder='A3 nick',
                value=(locals.squadSettings.nick && locals.squadSettings.nick !== 'N/A' ? locals.squadSettings.nick : false)
              )
          .two.column.row.js-squad(class=locals.squadSettings.show ? '' : 'invis')
            .field.column
              label Remark
              input(type='text', name='remark', autocomplete='off',
                placeholder='Something about me',
                value=(locals.squadSettings.remark && locals.squadSettings.remark !== 'N/A' ? locals.squadSettings.remark : false)
              )
          .row
            .column
              button(type='submit').ui.primary.submit.button Save changes
