mixin mklink(page, url, cl)
  a.item(
    href!=url,
    role='link',
    class=locals.page == url.substr(1).split('/')[0] ? 'active': '',
    class=cl
  )!=page

nav.ui.fixed.large.inverted.menu(role='menubar')
  .ui.container.desktop-only
    a.header.item(href='/', role='link' class = (locals.page === 'home' ? 'active': ''))
      span.title FPARMA
    +mklink('Events', '/events')
    +mklink('Media', '/media')
    if (locals.app.userGuides)
      .ui.compact.dropdown.item(class=locals.topMenu==='guides' ? 'force selected': '')
        a Guides
        .menu
          each guide in locals.app.userGuides
            +mklink(guide.title, guide.url, (guide.title === locals.title ? 'active': ''))

    +mklink('About', '/about')

    if (locals.user && locals.user.admin)
      .ui.compact.dropdown.item(class=locals.topMenu==='admin' ? 'force selected': '')
        a Admin
        .menu
          +mklink('Server logs', '/admin/logs')
          +mklink('Stats', '/admin/stats')

    if (locals.user && locals.user.steam_id)
      .ui.item.selection.dropdown.compact.right(role='menuitem' aria-haspopup='true')
        i.user.icon(class=user.name ? 'green': 'grey')
        span=user.name || 'New user'
        .menu
          +mklink('Profile', '/profile')
          +mklink('Logout', '/logout')
    else 
      +mklink('Login / Register', '/login', 'right')

  
  .ui.mobile-only.item.dropdown.needsclick
    i.icon.content.needsclick
    span.needsclick Menu
    .menu
      +mklink('Events', '/events')
      +mklink('Media', '/media')

      if (locals.app.userGuides)
        .item(class=locals.topMenu==='guides' ? 'force selected': '')  
          span.needsclick Guides
          .menu
            each guide in locals.app.userGuides
              +mklink(guide.title, guide.url, (guide.title === locals.title ? 'active': ''))

      +mklink('About', '/about')

      if (locals.user && locals.user.admin)
        .item(class=locals.topMenu==='admin' ? 'force selected': '') 
          span.needsclick Admin
          .menu
            +mklink('Server logs', '/admin/logs')
            +mklink('Stats', '/admin/stats')

      if locals.user && locals.user.steam_id
        a.item(href='/profile')
          i.user.icon(class=locals.user.name ? 'green': 'grey')
          span=user.name || 'New user'
        +mklink('Logout', '/logout')
      else
        +mklink('Login / Register', '/login', 'right')
  a.header.item.right.mobile-only(href='/', role='link', class=(locals.page == 'home' ? 'active' : ''))
    span.title FPARMA
