mixin mklink(page, url, cl)
  a.item(
    href!=url,
    class=locals.page == url.substr(1).split('/')[0] ? 'active': '',
    class=cl
  )!=page

mixin menu(isDesktop)
  if (locals.user.steam_id)
    .ui.item.selection.dropdown(class=isDesktop ? 'compact right': '')
      i.user.icon(class=user.name ? 'green': 'grey')
      span=user.name || 'New user'
      .menu
        +mklink('Profile', '/profile')
        +mklink('Logout', '/logout')
  else 
    +mklink('Login / Register', '/login', 'right')

nav.ui.fixed.inverted.menu
  .ui.container.desktop-only
    a.header.item(href='/', class = (locals.page === 'home' ? 'active': ''))
      span.title FPARMA
    +mklink('Events', '/events')
    +mklink('About', '/about')
    +menu(true)

  .ui.item.dropdown.mobile-only
    i.icon.content
    span Menu
    .menu
      +mklink('Events', '/events')
      +mklink('About', '/about')
      +menu(false)
  a.header.item.right.mobile-only(href='/', class=(locals.page == 'home' ? 'active' : ''))
    span.title FPARMA
