mixin mklink(name, url, rightAlign)
  a.item(href=url,
    class=(attributes.class || '')
    class=rightAlign ? 'ui right floated' : '',
    class=(page && page == url.substr(1) ? 'active': ''))
    | #{name}

#nav.ui.inverted.borderless.main.menu
  .ui.text.container
    a.header.item(href='/', class=(page == 'home' ? 'active' : ''))
      img.logo(src='/img/fparma.png')
      p.title FPARMA
    +mklink('Events', '/events')
    +mklink('Join', '/join')(class='disabled')
    if locals.user
      
    else
      +mklink('Login / Register', '/login', true)
