mixin mklink(name, url, rightAlign)
  a.item(href=url,
    class=(attributes.class || '')
    class=rightAlign ? 'ui right floated' : '',
    // TODO: substr should only check until second slash
    class=(page && page == url.substr(1) ? 'active': ''))
    span=name

mixin usermenu(isDesktop)
  if locals.user.steam_id
    .ui.item.simple.dropdown(class= isDesktop ? 'right desktop-only': '')
      i.icon.user.green
      span=user.name || 'Unknown'
      .menu
        +mklink('Profile', '/profile')
        +mklink('Logout', '/logout')
  else
    +mklink('Login / Register', '/login', true)(class= isDesktop ? 'desktop-only': '')

nav.ui.top.menu.inverted.fixed
  .ui.container
    // DESKTOP
    a.header.item.desktop-only(href='/', class=(page == 'home' ? 'active' : ''))
      span.title FPARMA
    +mklink('Events', '/events')(class='desktop-only')
    +mklink('About', '/about')(class='disabled desktop-only')
    +usermenu(true)
    
    // MOBILE
    .ui.item.simple.dropdown.mobile-only
      i.icon.content
      span Menu
      .menu
        +mklink('Events', '/events')
        +mklink('About', '/about')(class='disabled')
        +usermenu(false)
    a.header.item.right.mobile-only(href='/', class=(page == 'home' ? 'active' : ''))
      span.title FPARMA
