- var log = locals.log
#js-log.mt-top2(data-log-id=log.id)
  h3 #{log.world} - #{log.name}
  p
    b Created at: #{dateUtil.formatUtc(log.created_at)} (UTC)
  .ui.very.relaxed.celled.tiny.list.mt-top2(style="border: 1px solid black")
    each l in log.logs
      .item
        p
          b #{dateUtil.secondsToHHMMSS(l.time)}
          |&nbsp;-&nbsp;#{l.text}
