
h4.ui.header Choose how you wish to input slots
#js-slots-btn-sqm.ui.icon.blue.button
  i.cloud.upload.icon
  span Upload SQM
#js-slots-btn-manual.ui.icon.blue.button
  span Manually
#js-slots-btn-reset.ui.icon.button.red
  i.repeat.icon
  span Reset
#js-sqm-error.ui.compact.error.message
  i.close.icon
  p.small

-sideList = ['blufor', 'opfor', 'greenfor', 'civilian']
-sideColor = {blufor: 'blue', opfor: 'red', greenfor: 'green', civilian: 'purple'}
#slots.invis.mt-top2
  p Select playable sides in the event
    each val in sideList
      .ui.small.secondary.button.js-btn-side(data-side=val) #{val.toUpperCase()}
  each val in sideList
    .side.invis.mt-top2(id='js-side-container-' + val)
      h4.ui.dividing.header(class="#{sideColor[val]} text") #{val.toUpperCase()} slots
      .ui.js-btn-newgrp.tiny.labeled.secondary.icon.button(data-side=val)
        i.users.icon
        span New group
      .ui.js-group-container.four.column.doubling.stackable.grid.mt-top1


script#js-grp-template(type='text/template')
  .column.js-grp-root
    h4.ui.top.attached.header
    .grp-segment.ui.raised.attached.segment
      .ui.list
        .item
          input.js-grp(type='text', data-validate="grpName" placeholder='Group name, e.g Alpha')
        .item
          .mt-top1.ui.compact.tiny.basic.fluid.green.icon.button
            i.file.text.outline.icon
            | Enter description
        .item
          .js-btn-rmgrp.mt-top1.ui.compact.tiny.basic.fluid.red.icon.button
            i.trash.icon
            | Remove group

      h4.ui.dividing.header Units
        span.js-unit-amount(style="padding-left: 0.2em")
      p.small Unit roles
      .ui.two.tiny.buttons(style='padding-bottom: 4px')
          .js-btn-addunit.ui.basic.green.animated.fade.icon.button
            .hidden.content +1
            .visible.content
              i.add.user.icon
          .or(data-text='()')
          .js-btn-rmunit.ui.basic.yellow.animated.fade.icon.button
            .hidden.content -1
            .visible.content
              i.remove.user.icon

script#js-unit-template(type='text/template')
    input.js-unit(type='text', data-validate='grpUnit' placeholder='SQL, Medic, Asst AR, etc')
