extends ../layout

mixin createEvent(evt, showRating)
  a.item(href='/events/event/' + evt.permalink)
    .ui.equal.width.stackable.grid
      .column
          h4.header #{evt.type.toUpperCase()} - #{evt.name}
          p by: #{evt.authors}
          span.js-event-date(data-date=evt.date, data-def=evt.display_date)=evt.display_date
      if (showRating)
        .middle.aligned.column
          .ui.compact.segment
            .ui.massive.heart.rating(
              data-disabled=(locals.user && locals.user.name ? "false": "true"),
              data-event-id=evt.id,
              data-rating=evt.rating,
              data-max-rating="3"
            )
            .ui.mini.floating.black.label=evt.user_ratings.length

block content
  #events-list.ui.container.segment
    h1.ui.dividing.header Events
      if (locals.user.admin)
        a.ui.primary.button.float-r(href='/events/create') Create new event
    
    if (events.upcoming.length || events.completed.length)
      .full-w.mt-top1
        p
          #js-date-select.ui.text.menu
            .header.item Show dates in
            a.active.item(data-time="utc") UTC
            a.item(data-time="local") Local time
            a.item(data-time="from") From now

    if events.upcoming.length
      h2.ui.dividingg.header Upcoming events
      .ui.fluid.very.relaxed.vertical.menu
        each event in events.upcoming
          +createEvent(event)
    else
      h2.ui.dividing.header No upcoming events
    
    if events.completed.length
      h2.ui.dividing.header.mt-top2 Previous events
      .ui.fluid.very.relaxed.vertical.menu
        each event in events.completed
          +createEvent(event, true)
    else
      h2.ui.dividing.header No previous events
block tail
  +script_link('/vendor/moment.min.js', true)
