extends ../layout

block head

block content
  .ui.segment.container
    h1.ui.dividing.header Approval
    form#form.ui.form.mt-top2(method='POST')
      input(type="hidden", name="id", value=data.id)
      h3 Content submitted by #{data.author.name}
      .ui.two.column.stackable.grid.mt-top1
        .two.column.row
          .field.column
            label Media URL (should be .png, .jpg, .webm/.mp4, youtube links)
            input(type='url', name='url', autocomplete='off' readonly value=data.url)
        .two.column.row
          .field.column
            label Caption
            input(type='text', name='caption', autocomplete='off', value=data.caption)
        .column
          a(href=data.url, target='_blank') Link
          if (data.is_image)
            img.ui.image(src=data.url, style="max-height: 20em")
          else
            if (data.is_webm)
              video(controls, allowFullScreen, mozallowfullscreen, webkitAllowFullScreen)
                source(src=data.url, type="video/webm")
            if (data.is_youtube)
              .ui.embed(data-source='youtube', data-id=data.youtube_id)
        .two.column.row
          .column
            button.ui.primary.button(type="submit", name="approve", value="on") Approve
            button.ui.red.button(type="submit", name="reject", value="on", style="margin-left: 2em") Reject
      .ui.error.message

block tail
  script.
    $(function () {
      $('.ui.embed').embed()
      $('#form').form({
        on: 'blur',
        fields: {
          url: 'empty',
          caption: 'maxLength[128]'
        }
      })
    })
