extends ../layout

block head
  +style_link('/vendor/lightbox.min.css', true)

block content
  noscript
    style.
      #media-screenshots img:hover {
        cursor: pointer;
      }
  #media.ui.segment.container
    h1.ui.dividing.header Media
    .ui.one.column.grid
      .centered.row
        .ui.compact.stackable.menu
          a.item.active.js-media-nav
            i.file.image.outline.tiny.icon
            | Screenshots
          if (videos.length)
            a.item.js-media-nav
              i.video.play.tiny.icon
              | Videos
          a.item(href='/media/submit')
            i.add.circle.icon
            | Submit new
            if (locals.user && locals.user.admin) 
              a.item(href=unapprovedCount ? '/media/approval' : '#', class=unapprovedCount ? '' : 'disabled')
                i.check.circle.outline.icon
                | Approval
                if (unapprovedCount)
                  .ui.floating.red.label=unapprovedCount
      .centered.row
        if (!images || !images.length)
          h2 No screenshots :(
        else
          #media-screenshots.column.ui.equal.width.stackable.grid(data-featherlight-filter='img')
            - var first = true
            while (images.length)
              .row
                - var i = first ? 2 : 4
                - first = false
                while (i--)
                  if (images.length)
                    .ui.middle.aligned.column
                        -var img = images.pop()
                        .gallery-image
                          img(
                            href=img.url,
                            data-featherlight="image",
                            data-caption=img.caption,
                            data-author= img.author && img.author.show ? img.author.name : ''
                          )
                          noscript
                            a(target="_blank", href=img.url)
                              img.loaded.ui.centered.image(src=img.url)
            .ui.inverted.segment.loading
      if (videos.length)
        #media-videos.centered.row
          .column.js-videos.ui.centered.equal.width.stackable.grid
            while (videos.length)
              .row.invis
                each i in [1,2]
                  if (videos.length)
                    -var video = videos.pop()
                    .middle.aligned.column
                      .ui.inverted.segment.video-container
                        script.js-video(type='text/template')
                          if (video.caption)
                            p.ui.black.top.attached.label.video-caption=video.caption
                          if (video.is_webm)
                            video.video(controls, allowFullScreen, mozallowfullscreen, webkitAllowFullScreen)
                              source(src=video.url, type="video/webm")
                              span Your browser does not support the video tag.
                          if (video.is_youtube)
                              .ui.embed.video(data-source='youtube', data-id=video.youtube_id, data-placeholder='https://img.youtube.com/vi/' + video.youtube_id + '/mqdefault.jpg')
                          if (video.author.show)
                            p.ui.black.bottom.attached.label Submitted by #{video.author.name}
          .centered.row
            buttton#js-load-more-videos.ui.primary.button(type='button') Load more


//-
  mixin makeImage(img, first)
    input.js-img(type='hidden',
      data-url=img.url,
      data-caption=img.caption,
      data-author=img.author.show ? img.author.name : '',
      data-first=first ? 'true' : 'false'
    )
    noscript
      a(target="_blank", href=img.url)
        img.ui.centered.rounded.image(src=img.url)

  .ui.segment.container
    h1.ui.dividing.header Media
    .ui.one.column.centered.grid
      .row
        .ui.compact.stackable.menu#media-menu
          a.item.active.js-media-menu-btn
            i.file.image.outline.tiny.icon
            | Screenshots
          a.item.js-media-menu-btn
            i.video.play.tiny.icon
            | Videos
          if (locals.user)
            if (locals.user.name)
              a.item(href='/media/submit')
                i.add.circle.icon
                | Submit new
            if (locals.user.admin) 
              a.item(href=unapprovedCount ? '/media/approval' : '#', class=unapprovedCount ? '' : 'disabled')
                i.check.circle.outline.icon
                | Approval
                if (unapprovedCount)
                  .ui.floating.red.label=unapprovedCount
      .column#media-screenshots(data-featherlight-filter='img')
        if (!images.length)
          h2 Nothing to show here :(
        else 
          .js-images.ui.centered.equal.width.stackable.grid
              - var first = true
              while (images.length)
                .row
                  - var i = first ? 2 : 4
                  while (i--)
                    if (images.length)
                      .ui.middle.aligned.column
                          +makeImage(images.pop(), first)
                  - first = false

    
      .column#media-videos.invis
        .js-videos.ui.centered.equal.width.equal.height.stackable.grid
          while (videos.length)
            .row
              each i in [1,2]
                if (videos.length)
                  -var video = videos.pop()
                  .column
                    .ui.inverted.segment.invis
                      script.js-video(type='text/template')
                        if (video.caption)
                          p.ui.black.top.attached.label.video-caption=video.caption
                        if (video.is_webm)
                          video.video(controls, allowFullScreen, mozallowfullscreen, webkitAllowFullScreen)
                            source(src=video.url, type="video/webm")
                        if (video.is_youtube)
                            .ui.embed.video(data-source='youtube', data-id=video.youtube_id, data-placeholder='http://img.youtube.com/vi/' + video.youtube_id + '/mqdefault.jpg')
                        if (video.author.show)
                          p.ui.black.bottom.attached.label Submitted by #{video.author.name}
          .row
            #js-load-more-videos.ui.primary.button Load more
      .row#loader.invis
        .column
          .ui.segment.loading

block tail
  +script_link('/vendor/lightbox.min.js', true)
  +script_link('/vendor/jquery.waypoints.min.js', true)
